<ion-view hide-nav-bar="true" title="Free Books" cache-view="false">
    <ion-header-bar class="flxy-button">
        <button class="button  button-clear icon ion-ios-arrow-left" style="color:white;" ui-sref="bookDate">
            <span class="headerStyle">CART</span>
        </button>
    </ion-header-bar>
    <ion-content class="padding">
    </ion-content>
  <div class="tabs tabs-icon-top flxy-tabs" style="font-weight: 900;height: 60px">
  <a class="tab-item" ui-sref="placenearby" style="font-weight: 900;">
    <i class="icon ion-arrow-right-b"></i>
   Confirm Booking 
  </a>
</div>
</ion-view>