<ion-view cache-view="false" hide-nav-bar="true" class="greyBackgorund">
     <ion-header-bar class="flxy-button">
        <button ui-sref="detail" class="button  button-clear icon ion-ios-arrow-left" style="color:white;">
            <span class="headerStyle">GALLARY</span>
        </button>
    </ion-header-bar>
    <ion-content >
    <div class="card animated pulse" ng-repeat="l in listArray" ng-click="goDetail(l)"> 
  <div class="item item-text-wrap item-image animated zoomIn">
      <img src="{{l.gymImg}}">
  </div>
</div>
    </ion-content>
</ion-view>
