<ion-view class="" cache-view="false">
   <ion-content style="margin-top: 40px">
       <div align="center">
       <div class="logoImg animated zoomIn"></div>
       </div>
<div class="list animated zoomIn">
  <label class="item item-input item-floating-label" style="border: none;width: 95%;">
    <span class="input-label span_text" >Username</span>
     <input type="text"  placeholder="Username" class="loginField" ng-model="model.username">
  </label>
  <label class="item item-input item-floating-label" style="border: none; width: 95%">
    <span class="input-label span_text" >Password</span>
    <input type="password"  placeholder="Password" class="loginField" ng-model="model.password">
  </label>
  </div>
  <div align="center" >  
 <button class="button button-block redButton animated zoomIn" ng-click="login()" style="width:95%;">
  LOGIN
</button><!-- 
<button class="button button-block redButton animated zoomIn"  ng-click="register()" style="width:95%;">
SIGNUP</button> --><!-- 
<div class="row" style="margin-top: -10px">
  <div class="col"></div>
  <div class="col"><button class="button button-block redButton animated zoomIn" ng-click="forgotPassword()" style="width:95%;">
  FORGOT PASSWORD
</button></div> -->
</div>

</div>
  </ion-content>
   <div class="tabs redButton animated zoomIn">
  <a class="tab-item" style="font-weight: 900;" ng-click="register()">
    SIGNUP
  </a>
  <a class="tab-item" style="font-weight: 900;" ng-click="forgotPassword()">
     FORGOT
  </a>
</div>
</ion-view>