<ion-view hide-nav-bar="true" title="Free Books" cache-view="false">
    <ion-header-bar class="flxy-button">
        <button class="button  button-clear icon ion-ios-arrow-left" style="color:white;" ui-sref="register">
            <span class="headerStyle">Enter OTP</span>
        </button>
    </ion-header-bar>
    <ion-content class="padding">



     <div align="center" style="margin-top: 30px">
    <h4 class="animated zoomIn" align="center" style="text-align: center; width: 60%; float: center">Confirm your OTP to start your fitness journey</h4>
</div>

     <div align="center" style="margin-top: 50px"> 
       <label class="item item-input item-floating-label animated zoomIn" style="text-align: center;width:70%">
    <input type="text" style="float: center; text-align: center;" placeholder="Enter your OTP code here">
  </label>
  </div>
  <div align="center" style="margin-top: 30px">  
 <button class="button button-block redButton animated zoomIn" ui-sref="app.dashboard" style="width:95%;">
  CONFIRM
</button>
</div>
    </ion-content>
</ion-view>